.card-img{
    height: 500px;
}

.card-img-overlay img{
    margin-left: 29px;
}

.card-img-overlay  .card-title{
    margin-left: 31px;
    margin-top: 113px;
}

.card-img-overlay .card-text{
    margin-left: 31px;
    opacity: 1.5;
}

.pictures button{
    margin-left:31px;
}

.pictures h6{
    margin-left: 203px;
    margin-top: -45px;
}

.pictures p{
    margin-left: 153px;
    /* margin-bottom: -65px; */
    margin-top: -33px;
}

.content p{
margin-left: 22px;
}

.content h6{
    margin-left: 71px;
    margin-top: -44px;
}